.container_card {
  background-color: #ffffff;
  border-radius: 24px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card_gender {
  border-radius: 12px;
  background-color: #ffffff;
  position: absolute;
  top: 12px;
  left: 16px;
  padding: 8px 15px;
  font-weight: 600;
}

.card_img {
  object-fit: cover;
  height: 272px;
  width: 100%;
}

.container_card__info {
  padding: 12px 24px;
}

.card_title {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  height: 40px;
}

.card_text {
  height: 88px;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
}
